@import url(../../../asset/css/theme.css);


a:-webkit-any-link {
    text-decoration: none !important;
    color: inherit !important;
}

.card-section {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;
}

.card-container {
    max-width: 20rem;
    max-height: 20rem;
}


.card-parts {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    text-align: left;
    font-size: medium;
}

.part-1 {
    max-width: 100%;
    max-height: 60%;
}


.part-2 {}

.card-title {
    font-weight: 500;
    font-size: small;
    text-decoration: none;
    cursor: pointer;

}

.video-link:-webkit-any-link{
    /* text-decoration: none !important; */
}

.video-link:hover{
    color: black !important;
}



.common-parts {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

.part-3 {
    width: 50%;
}

.card-des {
    font-weight: 500;
    font-size: large;
}


.part-4 {
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    width: 20%;
}

.card-icons {
    max-width: 35px !important;
    max-height: 35px !important;
}

.lik-span {
    width: 48px !important;
    height: 48px;
}

.lik-icon {
    max-width: 29px !important;
    max-height: 26px !important;
}

.card-btn {
    width: 80%;
    padding: 0.3rem;
    color: var(--primaryColor);
    border: .1rem solid rgb(193, 235, 154);
    border-radius: 4px;
    background-color: var(--primaryColor);
    font-weight: 500;
    font-size: 16px;
}

.card-btn:hover {
    color: white;
}