* {
    margin: 0;
    box-sizing: border-box;
}
 .card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.9rem;
    justify-content: center;
    justify-items: center;
    background-image: linear-gradient(to bottom right, rgb(130, 159, 165), rgb(38, 41, 82));
} 

.card-container {
    max-width: 20rem;
    max-height: 23rem;
    /* position: relative; */
}




.card-parts {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    background-image: linear-gradient(to bottom right, rgb(130, 159, 165), rgb(38, 41, 82));
    border-radius: 4px;
    text-align: center;
    gap: 0.3rem;
}

.part-1 {
    max-width: 100%;
    max-height: 70%;
}

.img-card {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
}


.part-2 {
    padding: 0.3rem;
}

.card-title {
    font-weight: 500;
    font-size: large;
    text-decoration: none;
}

.part-3 {
    padding: 0.3rem;
}

.card-des {
    font-weight: 500;
    font-size: large;
}


.part-4 {
    padding: 0.3rem;
}

.card-btn {
    width: 80%;
    padding: 0.3rem;
    color: antiquewhite;
    background-color: black;
    border: .1rem solid rgb(193, 235, 154);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
}