*{
    margin: 0;
    box-sizing: border-box;
}

.sensitara{
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
    padding: 1.5rem;
}

.part-2{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}