* {
    margin: 0;
    box-sizing: border-box;
}

.img-container {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
}

.land-img {
    width: 100%;
    height: 55vh;
    position: relative;
}

.img-content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 7.7rem;
    max-width: 25rem;
    /* text-align: left; */
    padding: 1.5rem;
    color: aliceblue;
    
}

.parts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 500;
    font-size: large;
}

.content-btn {
    width: 8rem;
    height: 3rem;
    font-size: large;
    font-weight: 600;
    border: .2rem solid rgb(7, 54, 105);
    border-radius: 4px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    padding: 0.8rem;
}