@import url(../../asset/css/theme.css);


/* * {
    margin: 0;
    box-sizing: border-box;
} */

.img-container {
    width: 100vw;
    height: calc(100%-96px);
    display: flex;
    background-image: url('../../asset/img/istockphoto-1287065554-170667a.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.img-content {
    display: flex;
    align-items: center;
    max-width: 50%;
    max-height: 100%;
    padding: 1.5rem;
    color: var(--white);
}

.parts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 500;
    font-size: large;
    padding-bottom: .3rem;
}

.content-btn {
    width: 8rem;
    height: 3rem;
    font-size: large;
    font-weight: 600;
    border: 2px solid var(--borderColors);
    border-radius: var(--inputBorderRadius);
    background-color: var(--transparant);
    text-decoration: none;
    color: var(--white);
    padding: 0.8rem;
}

@media only screen and (max-width: 600px) {
    .img-container {
        width: 100vw;
        height: 50vh;
        display: flex;
    }

    .img-content {
        display: flex;
        align-items: center;
        position: absolute;
        max-width: 25rem;
        max-height: 40vh;
        padding: 1.5rem;
        color: var(--white);
        font-size: small;

    }

}