* {
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100vw;
    background-image: linear-gradient(to bottom right, rgb(130, 159, 165), rgb(38, 41, 82));
}

.header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.head-part-1 {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.head-part-2 {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1rem;
}

.auth-btn {
    width: 8rem;
    height: 3.4rem;
    font-size: large;
    font-weight: 600;
    border: .2rem solid rgb(7, 54, 105);
    border-radius: 4px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    padding: 0.8rem;
    text-align: center;
}
.auth-btn:hover{
    color: white;
    background-color:rgb(57, 57, 106) ;
}