@import url(../../asset/css/theme.css);

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header-container {
    width: 100vw;
    background-image: var(--backgroundImg);
}

.header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.head-part-1 {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.head-part-2 {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1rem;
    flex-direction: row;
}

.navs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.dropdown-item {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: center !important;
}

.auth-btn {
    width: 8rem;
    height: 3.4rem;
    font-size: large;
    font-weight: 800;
    /* border: .2rem solid var(--borderColors); */
    border-radius: 4px;
    background-color: transparent;
    text-decoration: none;
    color: var(--primaryColor);
    padding: 0.8rem;
    text-align: center;
}

.auth-btn:hover {
    color: white;
    background-image: var(--backgroundImg);
}

@media only screen and (max-width: 600px) {
    .navs {
        display: none;
    }

}