@import url(../../asset/css/theme.css);

a {
    text-decoration: none;
}

.header-container {
    width: 100vw;
    background-image: var(--backgroundImg);
    position: sticky;
    font-family: var(--fonts);

}

.header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: sticky;
}

.head-part-1 {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.head-part-2 {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    gap: 1rem;
    flex-direction: row;
}

.navs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    align-content: center;
    justify-items: center;
    font-weight: 600;
    color: var(--whitecolor);
}


.dropdown-item {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: center !important;
    font-weight: 700 !important;
    font-family: var(--fonts);
    color: var(--whitecolor) !important;

}

.dropdown-toggle {
    color: var(--whitecolor) !important;
}

.auth-btn {
    width: 6rem;
    height: 3rem;
    font-weight: 900;
    font-family: var(--fonts);
    border-radius: 4px;
    background-color: transparent;
    text-decoration: none;
    color: var(--whitecolor);
    padding: 0.4rem;
    text-align: center;
}

.openthis {
    right: 0.5rem !important;
    background: var(--backgroundImg) !important;
    color: var(--whitecolor);
    font-weight: 700 !important;
}

.auth-btn:hover {
    background-image: var(--backgroundImg);
    color: #fff !important;
}

@media only screen and (max-width: 600px) {
    .navs {
        display: none;
    }
}