@import url(../../asset/css/theme.css);

* {
    margin: 0;
    box-sizing: border-box;
}

.trend-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-image: linear-gradient(to bottom right, rgb(15, 32, 68), rgb(10, 32, 71));
}

.main-land {
    background: var(--backgroundImg);
}

.main-category-container {
    width: 100%;
    height: calc(100% - 820px);
}

