:root{
   --backgroundImg: linear-gradient(to bottom right, rgb(130, 159, 165), rgb(38, 41, 82));
   --borderColors: rgb(117, 138, 142);
   --primaryColor:rgb(40, 42, 83);
   --inputBorderRadius:4px;
   --white:cornsilk;
   --transparant:transparant; 
   --fonts:"Inter", sans-serif; 
   --whitecolor:cornsilk;
   --maincolor:rgba(97, 12, 191, 1);
}