@import url(../../../asset/css/theme.css);

.main-p-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.p-card-container {
    max-width: 15rem;
    max-height: 15rem;
    background: var(--backgroundImg);
}


.p-parts {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.playlist-img {
    max-width: 14rem;
    max-height: 10rem;
}

.dlt-btn {
    border: none;
    padding: .3rem;
    background: none;
}

.dlt-btn:hover {
    border-radius: 34%;
    background-color: bisque;
    width: 50%;
}