@import url(../../asset/css/theme.css);

.section-container {
    padding-left: 1.7rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
    justify-content: flex-start;
    justify-items: flex-start;
}

.play-feature {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 0.6rem;
}


.iconss {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    max-width: 100%;
}


.like-icon {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    justify-items: center;
    justify-content: center;
}

.dislike-icon {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.heart-icon {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.playlist-icon {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}


.img-style {
    width: 1.7rem;
    height: 1.7rem;
}

.end-flex {
    display: flex;
    flex-direction: row;
    gap: .4rem;
    justify-content: flex-end;
    justify-self: flex-end;
    justify-items: flex-end;
}